<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.kilian.alfred_emeal</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Kilian Koeltzsch</string>
	<key>description</key>
	<string>Get a list of the latest transactions with your Emeal card</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emeal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>emeal</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>.build/debug/alfred_emeal</string>
				<key>subtext</key>
				<string>Load latest Emeal transactions</string>
				<key>title</key>
				<string>Emeal</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>129333AA-BECD-4A27-8B0F-F759747AF939</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>129333AA-BECD-4A27-8B0F-F759747AF939</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>EMEAL_PASSWORD</key>
		<string></string>
		<key>EMEAL_USERNAME</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>EMEAL_USERNAME</string>
		<string>EMEAL_PASSWORD</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/kiliankoe/alfred_emeal</string>
</dict>
</plist>
